<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}E-learning Platform{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Welcome to E-learning Platform{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'listar_cursos' %}">Cursos</a></li>
                <li><a href="{% url 'listar_alumnos' %}">Alumnos</a></li>
                <li><a href="{% url 'listar_profesores' %}">Profesores</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 E-learning Platform</p>
    </footer>
</body>
</html>
